@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:wght@300&family=Koulen&family=Lora:ital,wght@1,700&family=Merriweather:wght@300&family=Poppins:wght@300;400;500;600;700&family=Shadows+Into+Light&family=Zen+Loop&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
body{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content:center;
}
.form-login , .form-registro{
  /*position: relative;
  width: 360px;
  height: 800px;*/
  background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
}
.logo{
  width:50%;
}
.logo__login, .logo__registro{
  max-width:100%;
}
/*Remember*/
.check-content__text{
  color: #333;
  font-size:14px;
}
/*forgot*/
a.check-content__text , a.login-registrar__text{
  color: #4070f4;
  text-decoration: none;
}
.check-remenber a:hover{
  text-decoration: underline;
}
.form-login__boton{
  margin-top: 35px;
}
.form-login__boton input{
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor:pointer;
  transition: all 0.3s ease;
}
.campo-entrada{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}